*.log
*.hmap
*.hprof
*.class
.idea
.gradle
.DS_Store
.externalNativeBuild
**/build
**/debug
**/release
**/google-services.json
local.properties
ios.xcworkspace/
**/DerivedData/
**/xcuserdata/
!src/**/build/
hs_err_pid*
